@mixin flex ($justify , $align : initial, $direction: row,  $gap : 0 , $wrap : nowrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    gap: $gap;
    flex-wrap: $wrap;
}

@mixin grid($columns, $rows: auto, $gap : 0) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    gap: $gap;
}
