.clients {
    background-color: $lightPurple;
    @include mainPadding;
    
    &__title {
        font-size: .9rem;
        text-align: center;
    }

    &-icons {
        padding-top: 2rem;
        @include flex(center, center, row, 5vw, wrap)
    }
}