.descubre {
    @include flex(center, initial, column, 2rem);
    background-color: $purple;
    padding: 5rem 20px;
    @include tablet {
        padding: 5rem 4vw;
    }
    clip-path: ellipse(105% 100% at center top);
    @include desktop {
        clip-path: ellipse(75% 100% at center top);
        padding: 8rem 9vw;
    }

    &__title {
        font-size: 2rem;
        color: white;
        text-align: center;
        @include desktop {
            font-size: 2.4rem;
        }
    }

    &-buttons {

        @include flex(initial, initial, column, 1rem);

        @include desktop {
            flex-direction: row;
            justify-content: center;
        }
        &__btn1 {
            @include button(white, white, $purple);
        }

        &__btn2 {
            @include button(white, transparent, white);
        }
    }
}