.hero {
    background-color: $purple;
    color: white;
    text-align: center;
    @include mainPadding;
    padding-top: 100px!important;
    padding-bottom: 0;

    @include tablet {
        @include flex(initial, initial, row, 20px);
        text-align: left;
    }

    &-info {
        @include flex(space-between, initial, column, .9rem);
        &__title {
            font-size: 45px;

            &--orange {
                color: $orange;
            }
        }

        &__txt {
            max-width: 32rem;
            font-weight: 600;
        }

        &-buttons {
            &__btn1 {
                @include button(white, white, $purple);
                margin: 10px 0;
            }
    
            &__btn2 {
                @include button (#4285f4, #4285f4, white);
                @include flex(initial, center);
                margin: 10px 0;
                padding-left: 0;
    
                &-icon {
                    height: 37px;
                    border-radius: 2px;
                    margin-left: 5px;
                }
    
                &-txt {
                    flex-grow: 1;
                }
    
            }
        }

        &__conditions {
            display: none;
            
            @include desktop {
                display: inline-block;
                font-weight: 700;
                max-width: 32rem;
            }
        }
      
    }

    &__video {
        width: 700px;
        margin: 0 0 0 -70px;

        @include tablet {
            position: static;
            margin: 0 -30vw 0 0;
        }

        @include large {
            margin: 0 -10vw 0 0;
        }
    }


}