.opinions {

    &-cta {
        text-align: center;

        @include mainPadding;

        @include flex(initial, center, column, 1rem);

        &__title {
            font-size: 1.9rem;
            max-width: 700px;
            @include desktop {
                font-size: 3rem;
                
            }
        }

        &__txt {
            max-width: 700px;            
        }

        &-buttons {
            @include flex (initial, initial, column, 1rem);
            @include tablet {
                @include flex (center, initial, row, 1rem);
            }

            &__btn1 {
                @include button ($purple, $purple, white)
            }
    
            &__btn2 {
                @include button ($purple, transparent, $purple);
            }
        }

        
    }

    &-survey {
        text-align: center;

        @include mainPadding;

        padding: 3rem 0;
        @include flex(space-evenly, center, column, 2rem);
        @include tablet {
            flex-direction: row;
            text-align: left;
        }

        &__opinion {
            width: 270px;
        }

        &__number {
            color: $purple;
            font-size: 3.4rem;
            font-weight: bold;
        }

        &__txt {
            font-size: .9rem;
            font-weight: 500;
        }
    }

    &-case {
        @include desktop {
            @include flex(space-between, center, row, 2rem);
        }

        @include desktop {
            flex-direction: row;
        }

        &__video {
            clip-path: inset(25px 0 25px 0 round 0 500px 500px 0);
            width: 100%;
            margin: 2rem 0 2rem -40px;
            @include desktop {
                width: 50%;
            }
        }

        &-txt {
            padding: 0 1rem;
            @include flex(space-between, initial, column, 1.5rem);
            @include desktop {
                width: 50%;
            }

            &__quote {
                font-style: italic;
                font-size: 1.2rem;
            }

            &-author {
                &__name {
                    font-weight: 600;
                }

                &__position {
                    font-size: .9rem;
                    font-weight: 500;
                }
            }

            &__link {
                color: $blueLink;
                padding: 0 2rem 1rem 0;

                &:hover {
                    border-bottom: 2px solid $blueLink;
                }
            }
        }
    }

    &__details {
        text-align: center;
        color: rgb(86, 86, 86);
        @include mainPadding;
        font-size: .8rem;
    }

}