.opinions {

    &-cta {
        text-align: center;

        @include mainPadding;

        @include flex(initial, initial, column, 1rem);
        @include tablet {
            align-items: center;
        }

        &__title {
            font-size: 1.9rem;
            max-width: 700px;
            padding-top: 3rem;
            @include desktop {
                font-size: 3rem;
                
            }
        }

        &__txt {
            max-width: 700px;            
        }

        &-buttons {
            @include flex (initial, initial, column, 1rem);
            @include tablet {
                @include flex (center, initial, row, 1rem);
            }

            &__btn1 {
                @include button ($purple, $purple, white)
            }
    
            &__btn2 {
                @include button ($purple, transparent, $purple);
            }
        }

        
    }

    &-survey {
        text-align: center;

        @include mainPadding;

        padding: 3rem 0;
        @include flex(space-evenly, center, column, 2rem);
        @include tablet {
            flex-direction: row;
            text-align: left;
        }

        &__opinion {
            width: 270px;
        }

        &__number {
            color: $purple;
            font-size: 3.4rem;
            font-weight: bold;
        }

        &__txt {
            font-size: .9rem;
            font-weight: 500;
        }
    }

    &-case {
        @include desktop {
            @include flex(space-between, center, row, 2rem);
        }

        @include desktop {
            flex-direction: row;
        }

        &__video {
            clip-path: inset(25px 0 25px 0 round 0 500px 500px 0);
            width: 100%;
            margin: 2rem 0 2rem -40px;
            @include desktop {
                width: 50%;
            }
        }

        &-txt {
            padding: 0 1rem;
            @include flex(space-between, initial, column, 1.5rem);
            @include desktop {
                width: 50%;
            }

            &__quote {
                font-style: italic;
                font-size: 1.2rem;
                @include tablet {
                    font-size: 1.4rem;
                }
            }

            &-author {
                &__name {
                    font-weight: 600;
                }

                &__position {
                    font-size: .9rem;
                    font-weight: 500;
                }
            }

            &__link {
                color: $blueLink;
                position: relative;
                width: 245px;

                &::before {
                    content: '';
                    width: 0;
                    position: absolute;
                    bottom: -2px;
                    border-bottom: 2px solid $blueLink;
                    transition: width .5s ease-in-out;

                    
                }

                &:hover::before {
                    width: 100%;
                }

                &::after {
                    content: '';
                    display: inline-block;
                    width: 30px;
                    height: 20px;
                    background-image: url('../../assets/arrow-right.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    vertical-align: middle;
                    margin-left: 1rem;
                }

                
            }
        }
    }

    &__details {
        text-align: center;
        color: rgb(86, 86, 86);
        @include mainPadding;
        font-size: .8rem;
    }

}