@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../assets/fonts/InterVariable.woff2") format("woff2");
}
@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("../assets/fonts/InterVariable-Italic.woff2") format("woff2");
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "InterVariable";
  font-size: 16px;
  overflow-x: hidden;
}

p {
  line-height: 1.5;
}

img {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  flex-wrap: nowrap;
  background-color: #541554;
  position: absolute;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  width: 100%;
  height: 55px;
  padding: 0 20px;
}
.header__logo {
  width: 100px;
}
.header-nav {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: nowrap;
  padding: 20px;
  position: absolute;
  z-index: 99999;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: white;
  font-weight: 700;
  transition: right 1s ease;
}
.header-nav__logo {
  width: 100px;
}
.header-nav--open {
  right: 0;
}
.header-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: nowrap;
}
.header-nav__list--bottom {
  flex-grow: 1;
}
.header-nav__item:hover {
  text-decoration: underline;
}
.header-nav__arrow {
  width: 10px;
  transform: rotate(90deg);
  vertical-align: middle;
  margin-left: 4px;
}
.header-nav-buttons {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.header-nav-buttons__btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  height: 50px;
  padding: 0.75rem 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  transition: box-shadow 0.5s ease;
  border: 1px solid #541554;
  background-color: transparent;
  color: #541554;
  position: relative;
  flex-grow: 1;
}
.header-nav-buttons__btn1:hover {
  box-shadow: inset 0 0 0 1px #541554;
}
.header-nav-buttons__btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  height: 50px;
  padding: 0.75rem 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  transition: box-shadow 0.5s ease;
  border: 1px solid #541554;
  background-color: #541554;
  color: white;
  position: relative;
  flex-grow: 1;
}
.header-nav-buttons__btn2:hover {
  box-shadow: inset 0 0 0 1px white;
}
.header-nav__close {
  width: 25px;
  position: absolute;
  right: 15px;
  cursor: pointer;
}
.header__burguer {
  width: 20px;
  cursor: pointer;
}
.header--pre-fixed {
  background-color: white;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.08);
  color: black;
  position: fixed;
  top: -100%;
  transition: top 1s ease;
}
.header--fixed {
  top: 0;
}

@media screen and (min-width: 748px) {
  .header {
    height: 80px;
    padding: 0 4vw;
  }
}
@media screen and (min-width: 1068px) {
  .header {
    padding: 0 9vw;
  }
  .header-nav {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: initial;
    flex-direction: row;
    gap: 0;
    flex-wrap: nowrap;
    flex-grow: 1;
    background-color: #541554;
    padding: 0;
    height: auto;
    width: auto;
    font-weight: bold;
    font-size: 14px;
  }
  .header-nav__logo {
    display: none;
  }
  .header-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    flex-wrap: nowrap;
    color: white;
  }
  .header-nav__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 0;
    flex-wrap: nowrap;
  }
  .header-nav__item:hover {
    text-decoration: underline;
  }
  .header-nav-buttons__btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0;
    flex-wrap: nowrap;
    height: 50px;
    padding: 0.75rem 1rem;
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    transition: box-shadow 0.5s ease;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    position: relative;
  }
  .header-nav-buttons__btn1:hover {
    box-shadow: inset 0 0 0 1px white;
  }
  .header-nav-buttons__btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0;
    flex-wrap: nowrap;
    height: 50px;
    padding: 0.75rem 1rem;
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    transition: box-shadow 0.5s ease;
    border: 1px solid white;
    background-color: white;
    color: #541554;
    position: relative;
  }
  .header-nav-buttons__btn2:hover {
    box-shadow: inset 0 0 0 1px #541554;
  }
  .header-nav__close {
    display: none;
  }
  .header__burguer {
    display: none;
  }
  .header--pre-fixed {
    border-radius: 40px;
    margin-top: 0.5rem;
    max-width: 1300px;
    padding: 20px 40px;
  }
  .header--pre-fixed .header-nav {
    background-color: white;
    color: black;
  }
  .header--pre-fixed .header-nav__list {
    color: black;
  }
  .header--pre-fixed .header-nav-buttons__btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0;
    flex-wrap: nowrap;
    height: 50px;
    padding: 0.75rem 1rem;
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    transition: box-shadow 0.5s ease;
    border: 1px solid #541554;
    background-color: transparent;
    color: #541554;
    position: relative;
  }
  .header--pre-fixed .header-nav-buttons__btn1:hover {
    box-shadow: inset 0 0 0 1px #541554;
  }
  .header--pre-fixed .header-nav-buttons__btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0;
    flex-wrap: nowrap;
    height: 50px;
    padding: 0.75rem 1rem;
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    transition: box-shadow 0.5s ease;
    border: 1px solid #541554;
    background-color: #541554;
    color: white;
    position: relative;
  }
  .header--pre-fixed .header-nav-buttons__btn2:hover {
    box-shadow: inset 0 0 0 1px white;
  }
}
.hero {
  background-color: #541554;
  color: white;
  text-align: center;
  padding: 3rem 20px;
  padding-top: 100px !important;
  padding-bottom: 0;
}
@media screen and (min-width: 748px) {
  .hero {
    padding: 3rem 4vw;
  }
}
@media screen and (min-width: 1350px) {
  .hero {
    padding: 4rem 9vw;
  }
}
@media screen and (min-width: 748px) {
  .hero {
    display: flex;
    justify-content: initial;
    align-items: initial;
    flex-direction: row;
    gap: 20px;
    flex-wrap: nowrap;
    text-align: left;
  }
}
.hero-info {
  display: flex;
  justify-content: space-between;
  align-items: initial;
  flex-direction: column;
  gap: 0.9rem;
  flex-wrap: nowrap;
}
.hero-info__title {
  font-size: 45px;
}
.hero-info__title--orange {
  color: #ecb22e;
}
.hero-info__txt {
  max-width: 32rem;
  font-weight: 600;
}
.hero-info-buttons__btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  height: 50px;
  padding: 0.75rem 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  transition: box-shadow 0.5s ease;
  border: 1px solid white;
  background-color: white;
  color: #541554;
  position: relative;
  margin: 10px 0;
}
.hero-info-buttons__btn1:hover {
  box-shadow: inset 0 0 0 1px #541554;
}
.hero-info-buttons__btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  height: 50px;
  padding: 0.75rem 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  transition: box-shadow 0.5s ease;
  border: 1px solid #4285f4;
  background-color: #4285f4;
  color: white;
  position: relative;
  display: flex;
  justify-content: initial;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  margin: 10px 0;
  padding-left: 0;
}
.hero-info-buttons__btn2:hover {
  box-shadow: inset 0 0 0 1px white;
}
.hero-info-buttons__btn2-icon {
  height: 37px;
  border-radius: 2px;
  margin-left: 5px;
}
.hero-info-buttons__btn2-txt {
  flex-grow: 1;
}
.hero-info__conditions {
  display: none;
}
@media screen and (min-width: 1068px) {
  .hero-info__conditions {
    display: inline-block;
    font-weight: 700;
    max-width: 32rem;
  }
}
.hero__video {
  width: 700px;
  margin: 0 0 0 -70px;
}
@media screen and (min-width: 748px) {
  .hero__video {
    position: static;
    margin: 0 -30vw 0 0;
  }
}
@media screen and (min-width: 1350px) {
  .hero__video {
    margin: 0 -10vw 0 0;
  }
}

.clients {
  background-color: #f4ede4;
  padding: 3rem 20px;
}
@media screen and (min-width: 748px) {
  .clients {
    padding: 3rem 4vw;
  }
}
@media screen and (min-width: 1350px) {
  .clients {
    padding: 4rem 9vw;
  }
}
.clients__title {
  font-size: 0.9rem;
  text-align: center;
}
.clients-icons {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5vw;
  flex-wrap: wrap;
}

.features {
  padding: 3rem 20px;
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  gap: 5rem;
  flex-wrap: nowrap;
  background-color: #f4ede4;
}
@media screen and (min-width: 748px) {
  .features {
    padding: 3rem 4vw;
  }
}
@media screen and (min-width: 1350px) {
  .features {
    padding: 4rem 9vw;
  }
}

.feature--left {
  display: flex;
  justify-content: initial;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: nowrap;
}
.feature--right {
  display: flex;
  justify-content: initial;
  align-items: flex-end;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: nowrap;
  text-align: right;
}
@media screen and (min-width: 748px) {
  .feature {
    align-items: center;
  }
}
@media screen and (min-width: 1068px) {
  .feature {
    flex-direction: row;
    gap: 4rem;
  }
}
.feature-graphics {
  position: relative;
  height: 400px;
  width: 100%;
}
@media screen and (min-width: 1068px) {
  .feature-graphics {
    height: 25vw;
    max-height: 350px;
  }
}
.feature-graphics--left {
  left: -20px;
}
@media screen and (min-width: 748px) {
  .feature-graphics--left {
    left: -40px;
  }
}
@media screen and (min-width: 1068px) {
  .feature-graphics--left {
    left: -7vw;
  }
}
@media screen and (min-width: 1350px) {
  .feature-graphics--left {
    left: 0;
  }
}
.feature-graphics--right {
  right: -20px;
}
@media screen and (min-width: 748px) {
  .feature-graphics--right {
    right: -40px;
  }
}
@media screen and (min-width: 1068px) {
  .feature-graphics--right {
    right: -7vw;
    order: 1;
  }
}
@media screen and (min-width: 1350px) {
  .feature-graphics--right {
    left: 0;
  }
}
.feature-graphics__img {
  height: 100%;
}
@media screen and (min-width: 748px) {
  .feature-graphics__img {
    display: none;
  }
}
.feature-graphics__video {
  height: 100%;
  display: none;
}
@media screen and (min-width: 748px) {
  .feature-graphics__video {
    display: block;
  }
}
.feature-graphics__video--right {
  float: right;
}
.feature-info {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: nowrap;
  max-width: 500px;
}
.feature-info__title {
  font-size: 2rem;
}
.feature-info__link {
  color: #1264a3;
  font-weight: 500;
}
.feature-info__link:hover {
  text-decoration: underline;
}

.opinions-cta {
  text-align: center;
  padding: 3rem 20px;
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: nowrap;
}
@media screen and (min-width: 748px) {
  .opinions-cta {
    padding: 3rem 4vw;
  }
}
@media screen and (min-width: 1350px) {
  .opinions-cta {
    padding: 4rem 9vw;
  }
}
@media screen and (min-width: 748px) {
  .opinions-cta {
    align-items: center;
  }
}
.opinions-cta__title {
  font-size: 1.9rem;
  max-width: 700px;
  padding-top: 3rem;
}
@media screen and (min-width: 1068px) {
  .opinions-cta__title {
    font-size: 3rem;
  }
}
.opinions-cta__txt {
  max-width: 700px;
}
.opinions-cta-buttons {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: nowrap;
}
@media screen and (min-width: 748px) {
  .opinions-cta-buttons {
    display: flex;
    justify-content: center;
    align-items: initial;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: nowrap;
  }
}
.opinions-cta-buttons__btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  height: 50px;
  padding: 0.75rem 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  transition: box-shadow 0.5s ease;
  border: 1px solid #541554;
  background-color: #541554;
  color: white;
  position: relative;
}
.opinions-cta-buttons__btn1:hover {
  box-shadow: inset 0 0 0 1px white;
}
.opinions-cta-buttons__btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  height: 50px;
  padding: 0.75rem 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  transition: box-shadow 0.5s ease;
  border: 1px solid #541554;
  background-color: transparent;
  color: #541554;
  position: relative;
}
.opinions-cta-buttons__btn2:hover {
  box-shadow: inset 0 0 0 1px #541554;
}
.opinions-survey {
  text-align: center;
  padding: 3rem 20px;
  padding: 3rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: nowrap;
}
@media screen and (min-width: 748px) {
  .opinions-survey {
    padding: 3rem 4vw;
  }
}
@media screen and (min-width: 1350px) {
  .opinions-survey {
    padding: 4rem 9vw;
  }
}
@media screen and (min-width: 748px) {
  .opinions-survey {
    flex-direction: row;
    text-align: left;
  }
}
.opinions-survey__opinion {
  width: 270px;
}
.opinions-survey__number {
  color: #541554;
  font-size: 3.4rem;
  font-weight: bold;
}
.opinions-survey__txt {
  font-size: 0.9rem;
  font-weight: 500;
}
@media screen and (min-width: 1068px) {
  .opinions-case {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1068px) {
  .opinions-case {
    flex-direction: row;
  }
}
.opinions-case__video {
  -webkit-clip-path: inset(25px 0 25px 0 round 0 500px 500px 0);
          clip-path: inset(25px 0 25px 0 round 0 500px 500px 0);
  width: 100%;
  margin: 2rem 0 2rem -40px;
}
@media screen and (min-width: 1068px) {
  .opinions-case__video {
    width: 50%;
  }
}
.opinions-case-txt {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: initial;
  flex-direction: column;
  gap: 1.5rem;
  flex-wrap: nowrap;
}
@media screen and (min-width: 1068px) {
  .opinions-case-txt {
    width: 50%;
  }
}
.opinions-case-txt__quote {
  font-style: italic;
  font-size: 1.2rem;
}
@media screen and (min-width: 748px) {
  .opinions-case-txt__quote {
    font-size: 1.4rem;
  }
}
.opinions-case-txt-author__name {
  font-weight: 600;
}
.opinions-case-txt-author__position {
  font-size: 0.9rem;
  font-weight: 500;
}
.opinions-case-txt__link {
  color: #1264a3;
  position: relative;
  width: 245px;
}
.opinions-case-txt__link::before {
  content: "";
  width: 0;
  position: absolute;
  bottom: -2px;
  border-bottom: 2px solid #1264a3;
  transition: width 0.5s ease-in-out;
}
.opinions-case-txt__link:hover::before {
  width: 100%;
}
.opinions-case-txt__link::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 20px;
  background-image: url("../../assets/arrow-right.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-left: 1rem;
}
.opinions__details {
  text-align: center;
  color: rgb(86, 86, 86);
  padding: 3rem 20px;
  font-size: 0.8rem;
}
@media screen and (min-width: 748px) {
  .opinions__details {
    padding: 3rem 4vw;
  }
}
@media screen and (min-width: 1350px) {
  .opinions__details {
    padding: 4rem 9vw;
  }
}

.explora {
  background-color: #f4ede4;
  padding: 3rem 20px;
}
@media screen and (min-width: 748px) {
  .explora {
    padding: 3rem 4vw;
  }
}
@media screen and (min-width: 1350px) {
  .explora {
    padding: 4rem 9vw;
  }
}
.explora__title {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 2rem;
}
.explora-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: initial;
  gap: 1.5rem;
  justify-content: center;
}
@media screen and (min-width: 1068px) {
  .explora-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  display: flex;
  justify-content: initial;
  align-items: space-between;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: nowrap;
  max-width: 300px;
  background-color: white;
  padding: 0.8rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}
.card--left {
  justify-self: end;
}
.card--right {
  justify-self: start;
}
.card__img {
  width: 100%;
}
.card__category {
  color: rgb(56, 55, 55);
  font-size: 0.8rem;
}
.card__title {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.card-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
}
.card-link__txt {
  font-size: 0.9rem;
  font-weight: 600;
  color: #1264a3;
}

.descubre {
  display: flex;
  justify-content: center;
  align-items: initial;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: nowrap;
  background-color: #541554;
  padding: 5rem 20px;
  -webkit-clip-path: ellipse(105% 100% at center top);
          clip-path: ellipse(105% 100% at center top);
}
@media screen and (min-width: 748px) {
  .descubre {
    padding: 5rem 4vw;
  }
}
@media screen and (min-width: 1068px) {
  .descubre {
    -webkit-clip-path: ellipse(75% 100% at center top);
            clip-path: ellipse(75% 100% at center top);
    padding: 8rem 9vw;
  }
}
.descubre__title {
  font-size: 2rem;
  color: white;
  text-align: center;
}
@media screen and (min-width: 1068px) {
  .descubre__title {
    font-size: 2.4rem;
  }
}
.descubre-buttons {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: nowrap;
}
@media screen and (min-width: 1068px) {
  .descubre-buttons {
    flex-direction: row;
    justify-content: center;
  }
}
.descubre-buttons__btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  height: 50px;
  padding: 0.75rem 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  transition: box-shadow 0.5s ease;
  border: 1px solid white;
  background-color: white;
  color: #541554;
  position: relative;
}
.descubre-buttons__btn1:hover {
  box-shadow: inset 0 0 0 1px #541554;
}
.descubre-buttons__btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  height: 50px;
  padding: 0.75rem 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  transition: box-shadow 0.5s ease;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  position: relative;
}
.descubre-buttons__btn2:hover {
  box-shadow: inset 0 0 0 1px white;
}

.footer {
  padding: 3rem 20px;
}
@media screen and (min-width: 748px) {
  .footer {
    padding: 3rem 4vw;
  }
}
@media screen and (min-width: 1350px) {
  .footer {
    padding: 4rem 9vw;
  }
}
.footer-menu {
  padding-bottom: 3rem;
  border-bottom: 2px solid gray;
}
@media screen and (min-width: 1068px) {
  .footer-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: 6rem;
    flex-wrap: nowrap;
  }
}
.footer-menu__icon {
  display: inline-block;
  width: 50px;
  padding: 2rem 0;
}
.footer-menu-nav {
  padding: 2rem 0;
  flex-grow: 1;
}
.footer-menu-list {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  gap: 1.5rem;
  flex-wrap: nowrap;
}
@media screen and (min-width: 748px) {
  .footer-menu-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
  }
}
@media screen and (min-width: 1068px) {
  .footer-menu-list {
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }
}
.footer-menu-list__title {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
}
.footer-menu-list__arrow {
  width: 15px;
  transition: transform 0.3s ease;
}
.footer-menu-list__arrow--open {
  transform: rotate(90deg);
}
@media screen and (min-width: 748px) {
  .footer-menu-list__arrow {
    display: none;
  }
}
.footer-menu-list-secondary {
  display: none;
  font-size: 0.8rem;
  color: rgb(67, 66, 66);
  font-weight: 600;
  padding-top: 1.5rem;
}
.footer-menu-list-secondary--open {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: nowrap;
}
@media screen and (min-width: 748px) {
  .footer-menu-list-secondary {
    display: flex;
    justify-content: initial;
    align-items: initial;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: nowrap;
  }
}
.footer-submenu {
  padding-top: 2rem;
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: initial;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: nowrap;
}
@media screen and (min-width: 1350px) {
  .footer-submenu {
    flex-direction: row;
    font-size: 0.8rem;
  }
}
.footer-submenu-settings {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  gap: 1.5rem;
  flex-wrap: nowrap;
}
@media screen and (min-width: 1350px) {
  .footer-submenu-settings {
    flex-direction: row;
    align-items: flex-start;
  }
}
.footer-submenu-settings-list {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: nowrap;
}
@media screen and (min-width: 1068px) {
  .footer-submenu-settings-list {
    flex-direction: row;
    margin-bottom: 3rem;
  }
}
.footer-submenu-settings__icon {
  width: 15px;
}
.footer-submenu-settings__region {
  display: flex;
  justify-content: initial;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  flex-wrap: nowrap;
}
@media screen and (min-width: 1350px) {
  .footer-submenu-social {
    display: flex;
    justify-content: initial;
    align-items: flex-start;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: nowrap;
  }
}
.footer-submenu-social__download {
  display: flex;
  justify-content: initial;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  flex-wrap: nowrap;
  color: #1264a3;
  font-size: 0.9rem;
}
.footer-submenu-social__cloud {
  width: 20px;
}
.footer-submenu-social__icon {
  width: 20px;
}
@media screen and (min-width: 1068px) {
  .footer-submenu-social__icon {
    width: 15px;
  }
}
.footer-submenu-social-list {
  display: flex;
  justify-content: space-between;
  align-items: initial;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  padding: 2rem 0;
}
@media screen and (min-width: 1350px) {
  .footer-submenu-social-list {
    padding: 0;
  }
}
@media screen and (min-width: 1068px) {
  .footer-submenu-social-list {
    justify-content: flex-start;
    gap: 1rem;
  }
}
.footer-copy__txt {
  font-size: 0.7rem;
  color: gray;
}/*# sourceMappingURL=styles.css.map */